.tree {
    width: 100%;
}

.boat{
    position: absolute;
    top: 950px;
    left: 800px;
    width: 700px;
}

.intro-title h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro-text{
    width: 30%;
    opacity: 1;
    transform: translateY(70px);
    transition: 0.5s all ease-in-out;
}

.intro-text h2{
    font-size: 26px;
    position: absolute;
    top: 100px;
    left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 16px;
    position: absolute;
    top:175px;
    left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.intro-appear{
    opacity: 1;
    transform: translateY(0px);
}